/* line 43, ../sass/timeslots.scss */
.content-container {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 48, ../sass/timeslots.scss */
h1 {
  display: inline-block;
  margin-right: 0.5em;
}

/* line 53, ../sass/timeslots.scss */
h3 {
  display: inline-block;
  margin-right: 0.5em;
}

/* line 58, ../sass/timeslots.scss */
h4 {
  display: inline-block;
  margin-right: 0.5em;
}

/* line 63, ../sass/timeslots.scss */
.well {
  margin: 0;
  padding: 1.25em 1.25em .75em;
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 71, ../sass/timeslots.scss */
li {
  line-height: 120%;
  margin-bottom: 0.5em;
}

/* line 76, ../sass/timeslots.scss */
.js-variable {
  display: none;
}

/* line 80, ../sass/timeslots.scss */
.edit-link {
  padding-top: 1em;
  color: #00b7ff;
}

/* line 85, ../sass/timeslots.scss */
a.map-link {
  color: #00b7ff;
}

/* line 89, ../sass/timeslots.scss */
.block {
  margin-bottom: 2em;
}
/* line 92, ../sass/timeslots.scss */
.block .more-link {
  display: block;
  margin-left: 1.5em;
  margin-top: 0.25em;
  color: #666666;
}
/* line 99, ../sass/timeslots.scss */
.block .more-link:hover {
  color: #222222;
}

/* line 105, ../sass/timeslots.scss */
.label {
  margin: 0 5px;
  padding: 1px 3px 0;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1.6em;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 120, ../sass/timeslots.scss */
.label.label-danger {
  background-color: #bb0000;
}
/* line 124, ../sass/timeslots.scss */
.label.label-warning {
  background-color: #ff8888;
}
/* line 128, ../sass/timeslots.scss */
.label.label-success {
  background-color: #00aa00;
}

/* line 134, ../sass/timeslots.scss */
.text-danger,
a.text-danger {
  color: #bb0000;
}

/* line 139, ../sass/timeslots.scss */
.text-warning,
a.text-warning {
  color: #ff8888;
}

/* line 144, ../sass/timeslots.scss */
.text-success,
a.text-success {
  color: #00aa00;
}

/* line 153, ../sass/timeslots.scss */
.unfilled_label,
.filled_label {
  width: 60px;
}

/* line 157, ../sass/timeslots.scss */
.filled_label {
  visibility: hidden;
}

/* line 161, ../sass/timeslots.scss */
.pattern-label {
  width: 100px;
}

/* line 170, ../sass/timeslots.scss */
a span {
  text-decoration: underline;
}

/* line 174, ../sass/timeslots.scss */
.link-form {
  display: inline;
}
/* line 177, ../sass/timeslots.scss */
.link-form button {
  border-width: 0;
  background: transparent none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  display: inline;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 190, ../sass/timeslots.scss */
.link-form div {
  display: none;
}

/* line 199, ../sass/timeslots.scss */
.date-selector-wrapper {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 1.8em;
  min-width: 250px;
  margin-right: 10px;
}
/* line 208, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 250px;
  padding: 7px 7px 5px 7px;
  border: 1px solid #D4D3D4;
  background: #F6F6F6;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
/* line 223, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .select-time-period-label {
  width: 95%;
  opacity: 0;
  position: absolute;
  top: 7px;
  background-color: #f6f6f6;
  padding-bottom: 3px;
  color: #999;
  -webkit-transition: opacity 0.2s ease-in;
  -webkit-transition-delay: 0.5s;
  -moz-transition: opacity 0.2s ease-in 0.5s;
  -o-transition: opacity 0.2s ease-in 0.5s;
  transition: opacity 0.2s ease-in 0.5s;
}
/* line 234, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-arrow {
  position: absolute;
  right: 7px;
  top: 5px;
}
/* line 239, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-arrow:after {
  content: "\25BE";
  color: #777;
}
/* line 245, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu {
  display: none;
}
/* line 251, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu:hover .date-selector-menu-item.current,
.date-selector-wrapper .date-selector .date-selector-menu.date-selection-active .date-selector-menu-item.current {
  background-color: transparent;
}
/* line 257, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu.date-selection-active .date-selector-menu-item.custom-dates {
  background-color: #dddddd;
}
/* line 262, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu-item {
  margin: 0.3em -7px;
  padding: 6px 7px;
}
/* line 266, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu-item.current {
  background-color: #dddddd;
}
/* line 270, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu-item.custom-dates {
  padding: 0 7px;
  margin-bottom: 0;
}
/* line 276, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-selector-menu-item:hover, .date-selector-wrapper .date-selector .date-selector-menu-item.current:hover {
  background-color: #dddddd !important;
}
/* line 291, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-input {
  width: 100px;
  display: inline-block;
  margin-bottom: 0;
  font-size: inherit;
  font-family: inherit;
  padding: 4px;
  margin-left: -5px;
  height: 1.4em;
  background-color: transparent;
  border-color: transparent;
}
/* line 304, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-input:hover {
  background-color: #fff;
  border-color: #ddd;
}
/* line 309, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector .date-input:focus {
  background-color: #fff;
  border-color: #00aa00;
}
/* line 315, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector span.date-input-preview {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
/* line 323, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector.hover, .date-selector-wrapper .date-selector.active {
  border-color: #b4b3b4;
}
/* line 326, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector.hover .select-time-period-label, .date-selector-wrapper .date-selector.active .select-time-period-label {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 334, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector.active .date-selector-menu {
  display: block;
}
/* line 338, ../sass/timeslots.scss */
.date-selector-wrapper .date-selector.active .current-selection {
  margin-bottom: 0.5em;
}

/* line 349, ../sass/timeslots.scss */
form ul {
  margin: 0;
  padding: 0;
}

/* line 354, ../sass/timeslots.scss */
.control-group {
  margin-bottom: 10px;
}

/* line 358, ../sass/timeslots.scss */
.control-errors {
  font-size: 80%;
  color: #bb0000;
}

/* line 363, ../sass/timeslots.scss */
.errorlist li {
  color: #bb0000;
}

/* line 367, ../sass/timeslots.scss */
div.admin-only {
  display: none;
}

/* line 371, ../sass/timeslots.scss */
.is_admin div.admin-only {
  display: block;
}

/* line 375, ../sass/timeslots.scss */
.widget-wrapper {
  margin-right: 10px;
}
/* line 379, ../sass/timeslots.scss */
.widget-wrapper label {
  font-style: italic;
  font-weight: normal;
}
/* line 384, ../sass/timeslots.scss */
.widget-wrapper.widget-wrapper-time input {
  width: 80px;
}

/* line 392, ../sass/timeslots.scss */
.form-edit-volunteer .control-group-user,
.form-edit-client .control-group-user {
  display: none;
}

/* line 397, ../sass/timeslots.scss */
.control-group-daysOfWeek {
  display: none;
  margin-bottom: 20px;
}
/* line 401, ../sass/timeslots.scss */
.control-group-daysOfWeek li {
  display: inline-block;
  margin-right: 20px;
}

/* line 408, ../sass/timeslots.scss */
.control-group-dayOfMonth,
.control-group-oneOffDate {
  display: none;
}

/* line 416, ../sass/timeslots.scss */
.alert {
  padding: 10px 35px 10px 14px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.5em;
  line-height: 130%;
}

/* line 431, ../sass/timeslots.scss */
.alert,
.alert h4 {
  color: #c09853;
}

/* line 435, ../sass/timeslots.scss */
.alert h4 {
  margin: 0;
}

/* line 439, ../sass/timeslots.scss */
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

/* line 446, ../sass/timeslots.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 452, ../sass/timeslots.scss */
.alert-success h4 {
  color: #468847;
}

/* line 457, ../sass/timeslots.scss */
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 464, ../sass/timeslots.scss */
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

/* line 471, ../sass/timeslots.scss */
.data-table {
  display: table;
}

/* line 475, ../sass/timeslots.scss */
.data-row {
  display: table-row;
}

/* line 479, ../sass/timeslots.scss */
.data-cell {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 8px;
}

/* line 489, ../sass/timeslots.scss */
li.exception {
  text-decoration: line-through;
  color: #777;
}
/* line 493, ../sass/timeslots.scss */
li.exception a {
  color: #777;
}
