{% extends "base.html" %}

{% block content %}
	<h3>{{ volunteer }}</h3>

	{% if user.is_staff %}
		<a class="edit-link" href="{% url 'timeslots_volunteer_edit' volunteer.user.id %}">Edit Volunteer</a>
		<a class="add-link" href="{% url 'timeslots_commitment_add_opening_select' volunteer.user.id %}">Add Scheduled Visit</a>
	{% endif %}

	<div class="block">
		<div class="phone">
			Phone:
			{% if volunteer.phone %}
				{{ volunteer.phone }}
			{% else %}
				Not provided
			{% endif %}
		</div>
	</div>

	<div class="block">
		<h4>Clients</h4>
		<ul class="well">
			{% for client in volunteer.clients.all %}
				<li>
					<a href="{{ client.get_absolute_url }}">
						{{ client }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="block">
		<h4>Upcoming Commitments</h4>
		<ul class="well">
			{% for instance in instances %}
				{% include "timeslots/partials/commitment_instance_row.html" with specify_client=True %}
			{% endfor %}
		</ul>
	</div>

	<div class="block">
		<h3>Commitment Patterns</h3>
		<ul class="well">
			{% for commitment in commitments %}
				<!-- {% include "timeslots/partials/commitment_pattern_row.html" %} -->
				<li>
					<div>
						Visit
						<a href="{{ commitment.clientOpening.client.get_absolute_url }}">{{ commitment.clientOpening.client }}</a>
						on
						<a href="{{ commitment.get_absolute_url }}">{{ commitment.pattern_description }}</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}