{% extends "base.html" %}

{% block content %}
	<div class="block">
		{% include "timeslots/partials/breadcrumbs.html" with item=commitment %}
		<h3>{{ commitment }}</h3>
		{% include "timeslots/partials/datepicker.html" %}

		{% if user.is_staff or is_my_commitment %}
			<a class="edit-link edit-commitments" href="#">Edit Visit Schedule</a>
		{% endif %}

		<div class="block">
			<ul class="well">
				{% for instance in instances %}
					{% include "timeslots/partials/commitment_instance_row.html" with specify_client=True %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}