{% extends "base.html" %}

{% block content %}
	<div class="block">
		<h3>{% if not user.is_staff %}Your {% endif %}Scheduled Visits{% if client %} for {{ client }}{% endif %}</h3>
		{% include "timeslots/partials/datepicker.html" %}

		<a class="edit-link edit-commitments pull-right" href="{% if client %}{% url 'timeslots_commitment_patterns_view' client.user.id %}{% else %}{% url 'timeslots_commitment_patterns_view' %}{% endif %}">Edit {% if not user.is_staff %}My {% endif %}Visit Schedule{% if client %} for {{ client }}{% endif %}</a>

		<div class="block">
			<!-- <h3>Commitment Instances</h3> -->
			<ul class="well">
				{% for instance in instances %}
					{% include "timeslots/partials/commitment_instance_row.html" with specify_volunteer=user.is_staff specify_client=True %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}