// Originally based on the now defunct sass-bootstrap project: https://raw.github.com/jlong/sass-bootstrap

// Mixins

@mixin button-variant($color, $background, $border, $gradient) {
  $background_endgradient: darken($background, $gradient);
  
  color: $color;
  background-color: $background;
  border-color: $border;
  
  @if ($gradient > 0) {
    background-image: -moz-linear-gradient(top, $background, $background_endgradient);
    background-image: -webkit-gradient(linear,0 0,0 100%, from($background), to($background_endgradient));
    background-image: -webkit-linear-gradient(top, $background, $background_endgradient);
    background-image: -o-linear-gradient(top, $background, $background_endgradient);
    background-image: linear-gradient(to bottom, $background, $background_endgradient);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$background', endColorstr='$background_endgradient', GradientType=0); 
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    $background_active: darken($background, 4%);
    $background_endgradient_active: darken($background_endgradient, 4%);
    
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
    @if ($gradient > 0) {
      background-image: -moz-linear-gradient(top, $background_active, $background_endgradient_active);
      background-image: -webkit-gradient(linear,0 0,0 100%, from($background), to($background_endgradient_active));
      background-image: -webkit-linear-gradient(top, $background_active, $background_endgradient_active);
      background-image: -o-linear-gradient(top, $background_active, $background_endgradient_active);
      background-image: linear-gradient(to bottom, $background_active, $background_endgradient_active);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$background_active', endColorstr='$background_endgradient_active', GradientType=0); 
    }
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
       -o-user-select: $select;
          user-select: $select;
}

@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}


// Variables

$brand-primary:         #00B7FF !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

$font-size-base:          14px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee


$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;


// Tooltips
// -------------------------
$font-size-tooltip:           $font-size-small !default;

$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  #000 !default;

$tooltip-arrow-width:         10px !default;
$tooltip-arrow-color:         $tooltip-bg !default;

$zindex-tooltip:           1030 !default;


// Buttons
// -------------------------
$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;
$btn-default-gradient:           12% !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;





// Overrides
// --------------------------

$font-size-tooltip: $font-size-large;
$tooltip-max-width: 300px;