@import "compass/css3/border-radius";
@import "compass/css3/transition";
// should move the button styling to PAWS stylesheet I think (need to scss-ify that)
@import "_buttons"; 
///
/// CUSTOM MIXINS
///

@mixin clearfix {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}


///
/// STYLE VARIABLES
///

$content-main-background-color: transparent;
$well-background-color: #f7f7f7;

$color-more-link: #666;
$color-more-link-hover: #222;

$color-danger: #bb0000;
$color-warning: #ff8888;
$color-success: #00aa00;

$color-date-selector-item-hover: #ddd;
$color-bright-link: #00B7FF;

///
/// COMMON STYLES
///

.content-container {
	max-width: 1170px;
	margin: 0 auto;
}

h1 {
	display: inline-block;
	margin-right: 0.5em;
}

h3 {
	display: inline-block;
	margin-right: 0.5em;
}

h4 {
	display: inline-block;
	margin-right: 0.5em;
}

.well {
	margin: 0;
	padding: 1.25em 1.25em .75em;
	border: 1px solid #d7d7d7;
	background-color: $well-background-color;
	@include border-radius();
}

li {
	line-height: 120%;
	margin-bottom: 0.5em;
}

.js-variable {
	display: none;
}

.paws-btn {
	@extend .btn;
	text-decoration: none;
	margin-top: -0.75em;
}

.edit-link {
	// padding-top: 1em;
	// color: $color-bright-link;
	@extend .paws-btn;
	@extend .btn-xsmall;
	@extend .btn-primary;
}

.add-link {
	@extend .paws-btn;
	@extend .btn-xsmall;
	@extend .btn-success;
}

input[type="submit"] {
	@extend .btn;
	@extend .btn-default;
}

a.map-link {
	color: $color-bright-link;
}

.block {
	margin-bottom: 2em;

	.more-link {
		display: block;
		margin-left: 1.5em;
		margin-top: 0.25em;

		color: $color-more-link;

		&:hover {
			color: $color-more-link-hover;
		}
	}
}

.label {
	margin: 0 5px;
	padding: 1px 3px 0;
	display: inline-block;

	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	line-height: 1.6em;
	vertical-align: middle;
	@include border-radius(3px);

	&.label-danger {
		background-color: $color-danger;
	}

	&.label-warning {
		background-color: $color-warning;
	}

	&.label-success {
		background-color: $color-success;
	}
	
	&.label-empty {
		background-color: #888;
	}
}

.text-danger,
a.text-danger {
	color: $color-danger;
}

.text-warning,
a.text-warning {
	color: $color-warning;
}

.text-success,
a.text-success {
	color: $color-success;
}


// .filled {
// 	// color: $color-success;
// }

.unfilled_label,
.filled_label {
	width: 60px;
}

.filled_label {
	visibility: hidden;
}

.pattern-label {
	width: 100px;
}

// .date-display,
// .pattern-display {
// 	display: inline-block;
// }

a span {
	text-decoration: underline;
}

.link-form {
	display: inline;

	button {
		border-width: 0;
		background: transparent none;
		padding: 0;
		margin: 0;
		text-decoration: underline;
		display: inline;
		color: #333;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
	}

	div {
		display: none;
	}
}

///
/// DATE SELECTOR
///

.date-selector-wrapper {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	height: 1.8em;
	min-width: 250px;
	margin-right: 10px;

	.date-selector {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		min-width: 250px;
		padding: 7px 7px 5px 7px;
		border: 1px solid #D4D3D4;
		background: #F6F6F6;
		font-size: 1.5em;
		cursor: pointer;
		text-decoration: none;
		@include border-radius();
		@include transition(height 0.2s ease-in);

		.select-time-period-label {
			width: 95%;
			opacity: 0;
			position: absolute;
			top: 7px;
			background-color: #f6f6f6;
			padding-bottom: 3px;
			color: #999;
			@include transition(opacity 0.2s ease-in 0.5s);
		}

		.date-selector-arrow {
			position: absolute;
			right: 7px;
			top: 5px;

			&:after {
				content: "\25BE";
				color: #777;
			}
		}

		.date-selector-menu {
			display: none;
		}

		.date-selector-menu:hover,
		.date-selector-menu.date-selection-active {
			.date-selector-menu-item.current {
				background-color: transparent;
			}
		}

		.date-selector-menu.date-selection-active {
			.date-selector-menu-item.custom-dates {
				background-color: $color-date-selector-item-hover;
			}
		}

		.date-selector-menu-item {
			margin: 0.3em -7px;
			padding: 6px 7px;

			&.current {
				background-color: $color-date-selector-item-hover;
			}

			&.custom-dates {
				padding: 0 7px;
				margin-bottom: 0;
			}

			&:hover,
			&.current:hover {
				background-color: $color-date-selector-item-hover !important;
			}
		}

		// &.selecting {
		// 	.date-selector-menu-item.current {
		// 		background-color: transparent;
		// 	}
		// 	.date-selector-menu-item.hover,
		// 	.date-selector-menu-item.current.hover {
		// 		background-color: $color-date-selector-item-hover;
		// 	}
		// }

		.date-input {
			width: 100px;
			display: inline-block;
			margin-bottom: 0;
			font-size: inherit;
			font-family: inherit;
			padding: 4px;
			margin-left: -5px;
			height: 1.4em;
			background-color: transparent;
			border-color: transparent;
		}

		.date-input:hover {
			background-color: #fff;
			border-color: #ddd;
		}

		.date-input:focus {
			background-color: #fff;

			border-color: $color-success;
		}

		span.date-input-preview {
			background-color: transparent;
			border-color: transparent;
			text-decoration: underline;
		}

		// hovering or clicked
		&.hover,
		&.active {
			border-color: #b4b3b4;

			.select-time-period-label {
				opacity: 1;
				@include transition(opacity 0.2s ease-out 0s);
			}
		}

		// clicked only
		&.active {
			.date-selector-menu {
				display: block;
			}

			.current-selection {
				margin-bottom: 0.5em;
			}
		}
	}
}

//
// FORMS
//

form ul {
	margin: 0;
	padding: 0;
}

.control-group {
  margin-bottom: 10px;
}

.control-errors {
	font-size: 80%;
	color: $color-danger;
}

.errorlist li {
	color: $color-danger;
}

div.admin-only {
	display: none;
}

.is_admin div.admin-only {
	display: block;
}

.widget-wrapper {
	// display: inline-block;
	margin-right: 10px;

	label {
		font-style: italic;
		font-weight: normal;
	}

	&.widget-wrapper-time input {
		width: 80px;
	}
}

// SPECIFIC FORM STYLING
.form-edit-volunteer,
.form-edit-client {
	.control-group-user {
		display: none;
	}
}

.control-group-daysOfWeek {
	display: none;
	margin-bottom: 20px;

	li {
		display: inline-block;
		margin-right: 20px;
	}
}

.control-group-dayOfMonth,
.control-group-oneOffDate {
	display: none;
}

//
// ALERTS
//

.alert {
  padding: 10px 35px 10px 14px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  font-size: 1.5em;
  line-height: 130%;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

//
// DATA TABLES
//
.data-table {
	display: table;
}

.data-row {
	display: table-row;
}

.data-cell {
	display: table-cell;
	padding-right: 10px;
	padding-bottom: 8px;
}

///
/// EXCEPTIONS
///

li.exception {
	text-decoration: line-through;
	color: #777;

	a {
		color: #777;
	}
}