{% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'paws/js/paws.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/vendor/date.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/vendor/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/vendor/pikaday/pikaday.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/vendor/pikaday/pikaday.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/vendor/jquery-timepicker-jt/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'timeslots/js/timeslots.js' %}"></script>