{% load staticfiles %}

<link type="text/css" rel="stylesheet" href="{% static 'paws/css/reset.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'paws/css/paws.css' %}">

<link type="text/css" rel="stylesheet" href="{% static 'timeslots/stylesheets/timeslots.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'timeslots/vendor/pikaday/pikaday.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'timeslots/vendor/jquery-timepicker-jt/jquery.timepicker.css' %}">