{% extends "base.html" %}

{% load display_helpers %}

{% block content %}
	<h3>{{ client }}</h3>

	{% if user.is_staff %}
		<a class="edit-link" href="{% url 'timeslots_client_edit' client.user.id %}">Edit Client</a>
		<a class="add-link" href="{% url 'timeslots_opening_add' client.user.id %}">Add Client Opening</a>
	{% endif %}

	{% display_address client %}

	<div class="block">
		<h4>Teammates for {{ client }}</h4>
		<ul class="well data-table">
			{% for volunteer in team %}
				<li class="data-row">
					<a class="data-cell" href="{{ volunteer.get_absolute_url }}">{{ volunteer }}</a>
					<a class="data-cell" href="mailto:{{ volunteer.user.email }}">{{ volunteer.user.email }}</a>
					<div class="data-cell">
						<!-- TODO: The below code shows all commitment string, we only want for this specific client -->
						<!-- {% for commitment in volunteer.commitments.all %}
							<span class="commitment">{{ commitment.get_all_metadata_string }}</span>
						{% endfor %} -->
					</div>
				</li>
			{% empty %}
				<li>No teammates assigned</li>
			{% endfor %}
		</ul>
	</div>

	{% if commitments %}
		<h4>Display Dates: </h4>
		{% include "timeslots/partials/datepicker.html" %}
		<br><br>
	
		<div class="block">
			<h4>Scheduled Visits for You and {{ client }}</h4>
			<ul class="well">
				{% for instance in commitments %}
					{% include "timeslots/partials/commitment_instance_row.html" with specify_client=False %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="block">
		<h4>Opening Schedules</h4>
		<ul class="well">
			{% for pattern in client.openings.all %}
				{% include "timeslots/partials/opening_pattern_row.html" with show_status_label=True %}
			{% empty %}
				<li>No Client Opening Schedules found</li>
			{% endfor %}
		</ul>
	</div>

	{% if openings %}
		<div class="block">
			<h4>Opening Dates</h4>
			<ul class="well">
				{% for instance in openings %}
					{% include "timeslots/partials/opening_instance_row.html" with show_status_label=True %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

{% endblock %}