{% extends "base.html" %}

{% load display_helpers %}

{% block content %}
	<div class="block">
		<h3>Visit <a href="{{ client.get_absolute_url }}">{{ client }}</a> on <span title="For opening pattern: {{ opening }}">{{ instance_date|date:"D, M j, Y, P" }}</span></h3>

		{% display_address client %}

		<div class="block">
			{% if instance.is_filled %}
				<p>This opening is filled. <a href="{% commitment_instance_url instance %}">View the commitment</a>
<!-- 				{% if user.is_staff %}
					<a href="{% url 'timeslots_commitment_edit' instance.openingid %}">Edit the commitment</a>
				{% endif %} -->
				</p>
			{% else %}
				<p>This opening is unfilled. <a href="{% url 'timeslots_commitment_add' instance.openingid %}">Fill this opening</a></p>
			{% endif %}
		</div>
	</div>

{% endblock %}