{% extends "base.html" %}

{% block pagetitle %}Unfilled Openings{% if not user.is_staff %} for {% if client %}{{ client }}{% else %}Your Clients{% endif %}{% endif %} - {% endblock %}

{% block content %}
	<div class="block">
		<h3>Unfilled Openings{% if not user.is_staff %} for {% if client %}{{ client }}{% else %}Your Clients{% endif %}{% endif %}</h3>
		{% include "timeslots/partials/datepicker.html" %}

		<ul class="well">
			{% for instance in openings %}
				{% include "timeslots/partials/opening_instance_row.html" with specify_client=True %}
			{% endfor %}
		</ul>
	</div>

{% endblock %}