{% extends "base.html" %}

{% block content %}
	<h3>{{ client }}</h3>

	{% if user.is_staff %}
		<a href="{% url 'timeslots_client_edit' client.user.id %}">Edit Client</a>
		<a href="{% url 'timeslots_opening_add' client.user.id %}">Add Client Opening</a>
	{% endif %}

	<div class="block">
		{% if client.phone %}
			<div class="phone">
				{{ client.phone }}
			</div>
		{% endif %}
		{% if client.address %}
			<div class="address">
				{{ client.address }}
				{{ client.address2 }}
			</div>
		{% endif %}
		{% if client.city or client.state or client.zip %}
			<div class="citystatezip">
				{{ client.city }}
				{% if client.city and client.state %}, {% endif %}
				{{ client.state }} {{ client.zip }}
				{% if client.address %}
					<a class="map-link" href="#">map</a>
				{% endif %}
			</div>
		{% endif %}
	</div>

	<div class="block">
		<h4>Openings</h4>
		{% include "timeslots/partials/datepicker.html" %}
		<ul class="well">
			{% for opening in openings %}
				<li>
					<a href="#" class="{% if opening.is_filled %}filled{% else %}unfilled text-danger{% endif %}">
						<span class="label {% if not opening.is_filled %}label-danger un{% endif %}filled_label">
					 		{% if not opening.is_filled %}Un{% endif %}filled
					 	</span>
						<span class="date-display">
							{{ opening.date|date:"D N j, Y, P" }}
						</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="block">
		<h4>Opening Patterns</h4>
		<ul class="well">
			{% for pattern in client.openings.all %}
				<li>
					<a href="#">
						<span class="label pattern-label{% if pattern.is_unfilled %} label-danger{% endif %}{% if pattern.is_partially_filled %} label-warning{% endif %}">
							{{ pattern.get_filled_status }}
						</span>
						<span class="pattern-display">
							{{ pattern }}
						</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

		<div class="block">
		<h4>Teammates for {{ client }}</h4>
		<ul class="well">
			{% for teammate in team %}
				<li>
					<div>
						{{ teammate }}
						<a href="mailto:{{ teammate.user.email }}">{{ teammate.user.email }}</a>
						<span class="comment">Maybe we want to show each teammates pattern(s) here?</span>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}