{% extends "base.html" %}

{% block content %}
	<div class="block">
		<h3>Your Commitments{% if client %} for {{ client }}{% endif %}</h3>
		{% include "timeslots/partials/datepicker.html" %}

		<a class="edit-link edit-commitments pull-right" href="#">Edit My Commitment Schedule</a>

		<div class="block">
			<!-- <h3>Commitment Instances</h3> -->
			<ul class="well">
				{% for instance in instances %}
					{% include "timeslots/partials/single_commitment_instance.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}