{% extends "base.html" %}

{% block content %}
	<div class="block">
		{% include "timeslots/partials/breadcrumbs.html" with item=commitment %}
		<h3>{{ commitment }}</h3>
		{% include "timeslots/partials/datepicker.html" %}

		{% if user.is_staff or is_mycommitment %}
			<a class="edit-link edit-commitments" href="#">Edit Commitment Schedule</a>
		{% endif %}

		<div class="block">
			<!-- <h3>Commitment Instances</h3> -->
			<ul class="well">
				{% for instance in instances %}
					{% include "timeslots/partials/single_commitment.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}