{% extends "base.html" %}

{% block content %}
	<div class="dashboard">
		<h3>Dashboard</h3>
		{% include "timeslots/partials/datepicker.html" %}

		{% if volunteer == None %}
			<div class="alert alert-danger">
				<strong>Minor Error</strong>
				<br />
				Nothing too major, but your account doesn't seem to be set up as a volunteer! Please ask an administrator to check your account configuration.
			</div>
		{% endif %}

		<div class="block">
			<a href="{% url 'timeslots_commitments_view' %}">
				<h4>Upcoming Visits Scheduled for You{% if not multipleclients %} and {{ clients|first }}{% endif %}</h4>
			</a>
			<ul class="well">
				{% for instance in commitment_instances %}
					{% include "timeslots/partials/commitment_instance_row.html" with specify_client=multipleclients %}
				{% endfor %}
			</ul>
		</div>

		<div class="block">
			<a href="{% url 'timeslots_openings_view' %}">
				<h4>Upcoming Unfilled Openings for {% if not multipleclients %}{{ clients|first }}{% else %}Your Clients{% endif %}</h4>
			</a>
			<ul class="well">
				{% for instance in openings %}
					{% include "timeslots/partials/opening_instance_row.html" with specify_client=multipleclients %}
				{% endfor %}
			</ul>
		</div>

		<div class="block">
			<h4>Your Clients</h4>
			<ul class="well">
				{% for client in clients %}
					<li><a href="{% url 'timeslots_client_view' client.user.id %}">{{ client }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}