{% extends "base.html" %}

{% block content %}
	<div class="block">
		{% include "timeslots/partials/breadcrumbs.html" with item=opening %}

		<h3>Client Opening for {{ opening.client }}</h3><br />
		<h4>Opening Pattern: {{ opening.get_client_title }}</h4>

		{% if user.is_staff or is_myopening %}
			<a class="edit-link edit-commitments" href="#">Edit This Opening</a>
		{% endif %}
		<br /><br /><br />
		<h4>Instances of this Opening</h4>
		{% include "timeslots/partials/datepicker.html" %}

		<div class="block">
			<!-- <h3>Commitment Instances</h3> -->
			<ul class="well">
				{% for instance in instances %}
					{% include "timeslots/partials/single_opening_instance.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}