{% load display_helpers %}

<li{% if instance.exception %} class="exception" title="This visit is not required due to an exception."{% endif %}>
	{% if show_status_label %}
		<span class="label {% if not instance.is_filled %}label-danger un{% endif %}filled_label">
	 		{% if not instance.is_filled %}Un{% endif %}filled
	 	</span>
	{% endif %}
	<a href="{% opening_instance_url instance %}">Opening</a>
	{% if specify_client %}
		 for
		<a href="{{ instance.client.get_absolute_url }}">{{ instance.client }}</a>
	{% endif %}
	on
	<a href="{% opening_instance_url instance %}">{{ instance.date|date:"D N j, Y, P" }}</a>
</li>